
.FutureSwiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  
.swiper-slide img {
    display: block;
    width: 100%;
  }
  
  .future_container {
    position: relative;
    width: 50%;
  }
  
  .future_img {
    display: block;
    width: 100%;
     height: 320px!important;
  }
  
  .future_overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #08617e ;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    opacity: 0.7;
  }
  
  .future_container:hover .future_overlay {
    bottom: 0;
    height: 100%;
  }
  
  .future_text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  