*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.noScroll {
    height: 100%;
    overflow: hidden;
}
html {
    font-size: 14px;
    font-family: "Playfair Display", serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Playfair Display", serif;
}
p,
span {
    font-family: "Open Sans", sans-serif;
}
a:active,
a:visited {
    text-decoration: none;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    margin-top: 100px;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.f-title {
    font-size: 64px;
}
.f-title::before {
    content: "";
}
.site__app {
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}
@media (max-width: 1199px) {
    .f-title {
        font-size: 58px;
    }
    .section {
        margin-top: 80px;
    }
}
@media (max-width: 991px) {
    .f-title {
        font-size: 50px;
    }
    .section {
        margin-top: 70px;
    }
}
@media (max-width: 767px) {
    .f-title {
        font-size: 45px;
    }
    .section {
        margin-top: 60px;
    }
}
@media (max-width: 991px) {
    .f-title {
        font-size: 40px;
    }
    .section {
        margin-top: 55px;
    }
}
